<%= nested_form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  
  <%= f.fields_for :questions%>

  <div class="actions">
    <%= f.link_to_add "Add a Question", :questions %> <br>
    <%= f.submit %>
  </div>
<% end %>
