<p id="notice"><%= notice %></p>
  <h1> <%= @survey.name %></h1>
  <br>
<div class = "container">
<ol>
  <%=semantic_form_for @survey do |f| %>
    <% @questions.each do |question| %>
        <%question.answers.each do |answer| %>
          <% @answers << answer.content %>
        <%end%>
        <li><%= h question.content %></li>
        <%= f.semantic_fields_for :responses, @survey.responses.build do |response| %>
          <ul>
              <%if question.is_multiple_choice? %>
                <%=response.input :content, :as => :radio, 
                                  :collection =>@answers,
                                  :label => false,
                                  :required => true %>
                                  
              <%elsif question.is_short_answer? %>
                <%=response.text_field :content,
                                       :required => true%>

              <%elsif question.is_long_answer? %>
                <%=response.text_area :content, :size => "30x12"%>

              <%elsif question.is_checklist? %>
                <%=response.input :content, :as => :check_boxes,
                                  :collection => @answers %>

              <%elsif question.is_email? %>
                <%=response.input :content, :as => :email %>
              <%end%>      
	        </ul>
          <%=response.hidden_field :question_id, :value => question.id%>
          <% @answers.clear %>
        <%end%>
     <%end %>
    <%= f.submit "Continue to Internet" %>
  <% end %>
</ol>
</div>
<%= link_to 'Edit', edit_survey_path(@survey), :class => "btn btn-small btn-warning" %> |
<%= link_to 'Back', surveys_path, :class => "btn btn-small"%>