<p id="notice"><%= notice %></p>
  <h1> <%= @survey.name %></h1>
  <br>

<ol>
  <% @survey.questions.each do |question| %>
    <li><%= h question.content %></li>
    <ul>
    <%if question.is_multiple_choice? %>
      <%question.answers.each do |answer| %>
        <li><%=h answer.content %></li>
      <%end%>
    <%end%>
	</ul>
  <% end %>

</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
